.login{
    height: 100vh;
    width: 100vw;
    display:grid;
    place-items:  center;
}
.login-container{
    text-align: center;
    padding: 100px;
    box-shadow: 0 1px 3px ;
}
.login-container > button {
    margin-top: 50px;
    text-transform: inherit !important;
    background-color: green;
    
}